@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Raleway:wght@200;400;600;700&display=swap');



body {
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(36, 35, 35);
    font-family: 'Raleway', sans-serif;
    background-image: url(./public/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;




}

button {
    cursor: pointer;
}



button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#add-category {


    text-align: center;
    width: 200px;
}

.header {
    background-color: #282626;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    z-index: 9999;
    height: 100px;

}

.sidebar {
    background-color: #949392d5;
    position: fixed;
    left: 0;
    top: 140px;
    width: 20%;




}

a {
    text-decoration: none;

}

.btn-header {
    display: flex;
    justify-content: space-around;
    gap: 30px;


}

.btn-header button {

    width: 100px;
    height: 40px;
    border-radius: 26px;
    box-shadow: none;
    border: none;
    font-weight: 500;

}


#search {
    background-color: #d9d9d9;
    border: none;
    width: 50%;
    height: 50px;
    border-radius: 28px;
    padding-left: 40px;
    margin: 0px 20px;

}

#logo-reddit {
    width: 20%;
    margin: 0;
    padding: 0;
}

#download-app-btn {
    background-color: rgb(174, 172, 172);
}

#login-btn {
    background-color: orangered;
    color: white;
}

#login-btn a {
    color: white;
}

#download-app-btn a {

    color: black;
}


#postContainer {
    width: auto;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    justify-content: center;
    margin-top: 140px;

}

#main-wrapper {
    display: flex;
    flex-wrap: wrap;
}

#dialog-container {

    width: 500px;
    height: 400px;

    position: fixed;
    z-index: 999;
    top: 20%;
    left: 30%;
    display: flex;
    flex-direction: column;
    background-color: #282626;
    color: white;
    padding: 40px 20px;
    gap: 20px;

}



label {
    color: white;
    font-size: 20px;
    font-family: 'Neucha', cursive;


}

.input-card {

    margin-bottom: 10px;
}

.check-box {
    width: 20px;
    border-radius: 5px;
}





.btn-dialog-container {
    width: 100%;
    display: flex;


    justify-content: flex-end;
    align-items: flex-end;




}


.rss-view {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: #fe00d8;
    overflow: scroll;
    height: 700px;
}


#aside-rss {
    width: 30%;
    height: 700px;
    position: fixed;
    top: 220px;
    right: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    
    padding: 20px;
    overflow: scroll;
}


.btn-dialog-container button {

    width: 150px;
    height: 50px;
    border-radius: 20px;

    background-color: transparent;
    color: white;
    font-size: 20px;

    font-family: 'Neucha', cursive;

}


#category {



    height: 20px;


}

.btn-dialog-container button:hover {
    background-color: #d9d9d9;
    color: black;
}





.dialog-input {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* padding-top: 30px;
    margin-left: 50px; */





}

post-card {
    background-color: #beafa5;

    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: center;
    float: right;


    height: max-content;


    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 12%;
    margin-bottom: 30px;
    margin-top: 0px;

}



.nav-header {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Neucha', cursive;
    letter-spacing: 2px;
    text-align: center;
    display: flex;
    flex-direction: column;

}


#sidebar-nav {
    background-color: #282626b8;
    width: 100%;
    height: 600px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

#sidebar-nav button {
    background-color: #f8995aed;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 20px;
    padding: 10px;
    width: 100%;

    font-family: 'Neucha', cursive;


}



#sidebar-nav button:hover {
    background-color: orangered;
    color: black;
}

#sidebar-nav button:active {
    background-color: rgb(219, 219, 219);
    color: rgb(198, 13, 13);
}

.btn-page-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 100px;
    gap: 20px;
    z-index: 999;
    background-color: #282626;
    height: 40px;
}

#next-page {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none;

}

#previous-page {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none;

}

@media (max-width: 500px) {

    body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        margin: 0;
    }

    .header button {
        font-size: 12px;
        width: 20%;
        width: 60px;

    }



    #add-category {



        width: 100px;
    }


    .category-container {
        border-bottom: 2px solid white;
        background-color: orangered;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        gap: 4px;

        gap: 20px;
        z-index: 999;
        margin: 0;
        justify-content: center;
        align-items: center;


    }

    .btn-dialog-container button {
        font-size: 12px;




    }

    .btn-dialog-container {
        display: flex;

        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        gap: 20px;
        align-items: flex-start;
    }

    #category {
        margin-left: 0;
    }


    .sidebar {
        background-color: transparent;
        width: 100%;
        z-index: 999;
        position: fixed;
        top: 15%;
        display: flex;
        flex-wrap: nowrap;
    }

    #sidebar-nav button {
        background-color: orangered;
        color: black;
        font-size: 16px;
        width: fit-content;




    }


    #sidebar-nav {
        background-color: transparent;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        width: 100%;
        height: 100px;
    }

    post-card {
        width: 100%;
        margin: 20px 0px;
        font-size: smaller;

    }

    #postContainer {
        margin-top: 220px;
        align-items: flex-start;
        margin-left: 20px;
        margin-right: 20px;

    }

    .header {

        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 15%;
        justify-content: flex-start;

    }

    #logo-reddit {
        width: 30%;
    }

    .btn-header {
        width: 100%;

        gap: 10px;
        align-items: center;
        justify-content: center;


    }

    #search {
        display: none;
    }

    .list {
        width: 100%;
        display: block;
    }

    .nav-header {
        background-color: #d9d9d9;
        display: none;
        z-index: 999;

    }

    #dialog-container {
        width: 100%;
        margin: 0;
        display: fixed;
        top: 30%;
        left: 0;

    }

    .dialog-input {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;

        height: 80%;
    }

    .input-card label {
        width: 100%;
        font-size: 12px;
    }

    .btn-page-container {
        display: flex;
        width: 100vw;
        align-items: center;
        justify-content: center;
        position: sticky;
        margin: 0;
        bottom: 0px;
        left: 0px;
        gap: 20px;
        z-index: 999;
        padding: 0px;
        background-color: transparent;
    }

}