body {
    width: 100vh;
    box-sizing: border-box;
    background-color: rgb(36, 35, 35);

}

.header{
            
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:0;
    padding:0;
   
}

.btn-header {
    display: flex;
    justify-content: space-around;
    gap:30px;


}

.btn-header button {

    width: 100px;
    height: 40px;
    border-radius: 26px;
    box-shadow: none;
    border: none;
    font-weight: 500;
    
}

#search {
    background-color: #d9d9d9;
    border:none;
    width: 60%;
    height: 50px;
    border-radius:28px;

}
#logo-reddit{
    width:10%;
}
#download-app-btn {
    background-color: rgb(174, 172, 172);
}

#login-btn {
    background-color: orangered;
    color: white;
}


#postContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}


.dialog-container {



    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgb(59, 59, 59);
    color: white;
    padding: 20px;

}

label {
    color: white;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}



.dialog {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    align-items: center;
    justify-content: center;


    width: 100%;


}

.dialog-input {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

post-card {
    border: 1px solid black;
    display: flex;
width: 500px;
text-align: center;
color: white;

    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
margin-bottom: 30px;}